.headerLogin{
    width: 50px;
    background-color: rgb(230, 224, 230)!important;
    border-radius: 50px!important;
    height: 50px!important;
    margin-left: 10px!important;
    margin: 20px!important;
}
.headerLogin img{
    width: 100%!important;
    height: 100%!important;
}

.headerLogin ul{
    /* background-color: red !important; */
    width: 150px!important;
    /* display: flex!important; */
    background-color: transparent!important;
    border: 0px;
    
    

}

.dropdown-menu li{

    background-color: rgba(0, 0, 0, 0.425);
    width: 100px;
    margin: 5px;
    margin-left: 60px ;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    text-align: center;

}