/* .conjuntoComentarios{
    background-color: red!important;
} */
.comentarios{
    background-color: rgba(74, 88, 88, 0.338);
   /*  width: 70%; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding-top: 20px;
    /* background-color: red; */
    margin-top: 20px;
    margin-bottom: 20px!important;
    
}
.unComentario{
    background-color: rgba(50, 26, 232, 0.144);
    /* max-width: 100px; */
    margin: 3px 0px 5px 10px;
    min-width: 150px;
    border-radius: 10px;
   padding: 10px;
    
   /*  color:rgba(171, 15, 15, 0.564); */
}
.unComentario p{
    margin: 0px;
    text-align: start;
    
}

.soloComentarios{
    /* background-color: red; */
    height: 400px;
    overflow-y: scroll;
    
   
    
}

.soloComentarios::-webkit-scrollbar{
    width: 5px;
    /* background-color: rgba(59, 52, 52, 0.966); */
    background-color: transparent;
   
  }
.soloComentarios::-webkit-scrollbar-thumb{
    background-color: rgba(48, 152, 160, 0.589);
    border-radius: 5px;
    height: 50%;
  }


.unComentarioLogeado{
    background-color: rgba(121, 127, 138, 0.774);
   /*  background-color: red; */
   border-radius: 10px;
   padding: 10px;
    
    /* max-width: 100px; */
    margin: 3px 0px 5px 10px;
    min-width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
.unComentarioLogeado .nameLogueado{
    /* background-color: green; */
    
    text-align: start;
    margin: 0px;
}
.editComentario{
   
    height: min-content;
    
    display: flex;
   /*  background-color: red!important; */
   border: none;
   
}


.botonOpciones{
    width: 10px;
    background-color:transparent!important;
    /* background-color: rebeccapurple!important; */
    background-image: url("https://cdn-icons-png.flaticon.com/128/60/60471.png");
    border: 1px solid rgba(0, 0, 0, 0.267);
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 12px;
    /* height: min-content; */
}
.botonOpciones::after{
   display: none;

}
.botonOpciones:hover{
    width: 10px;
    display: block;
    background-color:transparent!important;
    /* height: min-content; */
}
.comentarioSolo{
    width: 100%;
    text-align: start;

}
.cardComments{
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-radius: 5px;
    margin-left: 15px;
}
.textComments{
    background-color: rgba(255, 255, 255, 0.516);
    flex-grow: 1;
    border-radius: 5px 5px 5px 5px;
    padding-left: 20px;
    border: solid 0px #000;
    outline: none;
    color: rgb(0, 0, 0);
    max-height: 100px;
    resize: none;
}
.textComments{
    overflow-y: scroll;
}

.textComments::-webkit-scrollbar{
    width: 5px;
    /* background-color: rgba(59, 52, 52, 0.966); */
    background-color: transparent;
   
  }
.textComments::-webkit-scrollbar-thumb{
    background-color: rgba(48, 152, 160, 0.589);
    border-radius: 5px;
    height: 50%;
  }
/* .contSend{
   
    background-color: red;
    padding:10px;
    border-radius: 100px;
} */
.enviar{
    margin: 5px;
    width: 30px;
    height: 30px;
    /* border-radius: 20px; */
    padding: 15px;
    border: none;
    background-image: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.ConteinerUsercomment{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.cardmodificable::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(59, 52, 52, 0.966);
    background-color: transparent;
   
  }
.cardmodificable::-webkit-scrollbar-thumb{
    background-color: rgba(48, 152, 160, 0.589);
    border-radius: 5px;
    height: 50%;
  }
.cardmodificable{
    background-color: rgba(0, 213, 255, 0.224);
    flex-grow: 1;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 50px;
    resize: none;
}
.buttonModify{
    height: 50px;
    width: 60px;
    background-color: rgba(77, 108, 113, 0.747);
    font-size: 15px;
    border: none;
    border-radius: 20px;
}
.buttonModify:hover{
    height: 50px;
    width: 60px;
    background-color: rgba(7, 22, 24, 0.47);
    font-size: 15px;
    border: none;
    border-radius: 20px;
    color: #fff;
}
.dropdown-menu{
   
    /* background: rgba(0, 0, 0, 0.619); */
    background: transparent;
  
    border: none;
    
}
.dropdown-menu li {
    background-color: transparent;
    border: none;
    
}
.dropdown-menu li button{
    background-color: rgba(17, 164, 162, 0.635);
    border: none;
    width: 100%;
    border-radius: 20px;
}

.dropdown-menu li button:hover{
    background-color: rgb(5, 106, 134);
    color: #fff;
}
@media (min-width: 500px) {
    .comentarios{
       /*  background-color: red; */
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 1000px) {
    .comentarios{
      /*   background-color: red; */
        width: 1000px;
        margin: auto;
    }
}