.headerDos{
    display: none;
}
@media (min-width: 600px) {
    .headerUno{
        display: none;
        
        
    }
    .headerDos{
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        position: absolute;
        padding-left: 50px;
        padding-right: 30px;
        
        width: 100%;
        
    }
    .headerDos .link{
        display: flex;
        /* background-color: red; */
        /* width: 30%; */
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    .headerDos .link a{
        
        background-color: rgba(3, 3, 3, 0.603);
        padding: 5px 20px;
        border-radius: 20px;
        margin-left: 10px;
        color:#fff !important;
        
    }
    .headerDos .link a:hover{
        
        background-color: rgba(3, 3, 3, 0.966);
        padding: 5px 20px;
        border-radius: 20px;
        margin-left: 10px;
        color:#fff !important;
    }
    
}