/* .anterior{
    background-color: red;
    height: 50px;
} */
.siguiente{
    background-color: rgba(3, 3, 3, 0.603) !important;
    border-radius: 20px !important;
    padding: 20px;
}
.anteriorr{
    background-color: rgba(3, 3, 3, 0.603) !important;
    border-radius: 20px !important;
    padding: 20px;
}
.siguiente:hover{
    background-color: rgba(3, 3, 3, 0.966) !important;
    border-radius: 20px !important;
    padding: 20px;
}
.anteriorr:hover{
    background-color: rgba(3, 3, 3, 0.966) !important;
    border-radius: 20px !important;
    padding: 20px;
}

h2{
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
}
.tituloCarousel{
    text-align: center;
    margin-bottom: 10px;
    padding: 50px;
}
.contenedorPadre{
    width: 100%;
    padding: 10px;
    /* background-color: #00bcd94d;
    border-top:solid 2px #87dae7e3; */
    
    
}


.primerContenedor{
    /* background-color: red; */
    width: 100%;
    height: 625px;
    /* margin: auto; */
    
}
.hijo{
    width: 100%;
    /* border: 1px solid #000; */
    height: 290px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    
    
    
}
.imgenCuidad{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 30px;
    background-position:center;
    background-size: cover; 
    background-repeat: no-repeat;
}


@media (min-width: 600px) {
    .imgenCuidad{
        background-position:center;
        background-size: cover; 
        background-repeat: no-repeat;
    }
    .primerContenedor{
        /* background-color: red; */
        width: 100%;
        height: 550px;
        
    }
    .hijo{
        width: 100%;
        /* border: 1px solid #000; */
        height: 250px;
        /* background-color: green; */
        display: flex;
        flex-direction: row;
        padding-left: 100px;
        padding-right: 100px;
    }
    .imgenCuidad{
        width: 50%;
        height: 100%;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
        background-position:center;
        background-size: cover; 
        background-repeat: no-repeat;
    }
}

@media (min-width: 800px) {
    
    .imgenCuidad{
        background-position:center;
        background-size: cover; 
        background-repeat: no-repeat;
    }
    .contenedorPadre{
        
        padding-left: 5%;
        padding-right: 5%;
        /* background-color: #00bcd94d;
        border-top:solid 2px #87dae7e3; */
        /* background-color: rgba(68, 179, 194, 0.425); */
        
    }
}