main{
    width: 100%;
    height: 400px;
    background-image: url("../imgMain/playa.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.locoMasTitulo{
    /* background-color: red; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.locoMasTitulo p{
    font-size: 20px;
    
    
}
.imagenLogo{
    width: 100px;
    height: 100px;
    /* background: red; */
    margin: auto;
    margin-bottom: 20px;
    

}
.imagenLogo img{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 100px;
}
.botonCuidad{
    text-decoration: none;
    background-color: rgba(3, 3, 3, 0.603);
    padding:10px 20px;
    border-radius: 50px;
    color:#fff;
    
}

.botonCuidad:hover{
    text-decoration: none;
    background-color: rgba(3, 3, 3, 0.966);
    padding:10px 20px;
    border-radius: 50px;
    color:rgb(255, 250, 250);
    
}
